@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Montserrat", serif;
}
@media print {
  body {
    visibility: hidden;
  }
  #section-to-print {
    visibility: visible;
    position: absolute;
    left: 0;
    top: 0;
  }
}
.watermark {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0; /* Behind content */
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none; /* Prevent interaction */
}
.watermark img {
  max-width: 50%;
  max-height: 50%;
  opacity: 0.1; /* Transparency */
}